@using AttendanceCRM.Models.Custom
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}

<div class="content-header">
    <h1>Change Password</h1>
</div>

<section class="content-block">
    @using (Html.BeginForm("changepassword", "account", FormMethod.Post, new { id = "frmChangePassword" }))
    {
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="form-group">
                    <label for="Username">Old Password</label>
                    @Html.TextBoxFor(x => x.OldPassword, new { @class = "form-control", autocomplete = "off", placeholder = "Old Password", type = "password", maxLength = "20" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="form-group">
                    <label for="Username">New Password</label>
                    @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control", autocomplete = "off", placeholder = "New Password", type = "password", maxLength = "20",
                data_toggle = "tooltip", data_placement = "bottom", data_container = "body", title = AttendanceCRM.Helpers.Constants.Messages.PasswordCriteria })
                    @Html.ValidationMessageFor(x => x.NewPassword, "", new { @class = "form-validation" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="form-group">
                    <label for="Username">Confirm New Password</label>
                    @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", autocomplete = "off", placeholder = "Confirm New Password", type = "password", maxLength = "20" })
                </div>
            </div>
        </div>
        <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Change Password</button>
        <button type="button" class="btn btn-secondary" onclick="OnCancel()">Cancel</button>
    }

</section>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            var error = '@(TempData["ErrorMessage"])';
            if (error !== null && error !== "") {
                errorMessage(error);
            }
        });
        function OnCancel() {
            window.location.href = "@Url.Action("dashboard", "home")";
        }
    </script>
}

